<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="O_Senhor_dos_Aneis" 
			 connectionString="Data Source=DESKTOP-DIA27OC\SQLEXPRESS;Initial Catalog=O_Senhor_dos_Aneis;Persist Security Info=True;User ID=sa;Password=***********;Encrypt=False"
             providerName="System.Data.Client"/>
    </connectionStrings>
</configuration>